@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=ZCOOL+QingKe+HuangYou&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
/* navigation bar */
body {
     font-family: Poppins;
     
}

.logo {
    color: black;
}
nav{
    background: #00afef;
    height: 80px;
    width: 100%;

}

label.logo {
    color: rgb(0, 0, 0);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    text-decoration: none;
}
span {
    color: blue;
}
nav ul {
    float: right;
    margin-right: 20px;
    font-size: 20px;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
color: white;
font-size: 17px;
text-transform: uppercase;
padding: 7px 13px;
border-radius: 3px;

}

a.active,a:hover {

    background: #0000FF;
    transition: .5s;
 
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

.check {
    display: none;
}

@media (max-width: 925px ){

    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 18px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: green;
        top: 80px;
        left: -100% ;
        text-align: center; 
        transition: all .5s; 
       }

        nav ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        nav ul li a{

            font-size: 20px;
        }

        a:hover,a.active {
            background:none ;
            color: orange 
        }
        #check:checked ~ ul {
            left: 0;
        }
}

section {
    background: url(caplogo.jpg) no repeat;
    background-size:cover ;
    height: calc(100vh-80px);
}
/* home page content */
.homecontent {
     width: 100%;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     text-align: center;
     color: black;
}

.homecontent h1 {
    font-size:  70px;
    margin-top: 80ppx;

}

.homecontent p {
margin: 20px auto;
font-weight: 100;
line-height: 25px;
font-size: 20px;
}

button {
    width:200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid 00afef;
    border-radius: 105px;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: black;
    font-size: 18px;
    background-color: none;

}

button span {
    background: #00afef ;
    height:100% ;
    width: 0;
    border-radius: 200px;
    position: absolute;
    left: 0px;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
width: 100% ;
}

button:hover {
    border: none;
}